@{
    System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("en-US");
    var breadCrumb = ViewBag.BreadCrumb as VM_BreadCrumb;
    // var productCategoryMenu = ViewBag.MenuProductCategory as List<M_ProductCategory>;
    var productHot = ViewBag.ProductHot as List<M_Product>;
    var banner = ViewBag.Banner as M_Banner_CustomFullLocation;
    var productCategoryMenu = new List<M_ProductCategory_WithCountProduct>();
}


@section Styles {
    <link href="~/css/portal/product_list.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/controllers/portal/product.js" asp-append-version="true"></script>
}

@*<input type="hidden" id="input_keyword" value="@ViewBag.keyword" />*@
<input type="hidden" id="input_category" value="@ViewBag.category" />
<input type="hidden" id="input_record" value="@ViewBag.record" />
<input type="hidden" id="input_page" value="@ViewBag.page" />

@* <partial name="_P_BreadCrumbPortal" model="breadCrumb" /> *@

<section class="wrapper bg-light">
    <div class="container pb-10 pb-md-14 pt-4 pt-md-8">
        <div class="row gy-10">
            <div class="col-lg-9 order-lg-2">
                <div class="row align-items-center mb-10 position-relative zindex-1">
                    <div class="col">
                        @*@if (ViewBag.keyword != null)
                        {
                        <h2 class="display-6 mb-1">@ViewBag.keyword <a href="javascript:void(0)" onclick="ClearSearchKeyword(this)"><i class="uil uil-x"></i></a></h2>
                        }*@
                        <p class="mb-0 text-muted sp-line-1 count_record"></p>
                    </div>
                    <div class="col-md-5 col-xl-4 mt-5 mt-md-0">
                        <form class="search-form" id="form_search_main">
                            <div class="form-floating mb-0">
                                <input type="text" id="input_keyword" class="form-control" placeholder="Nhập từ khóa" maxlength="100" value="@ViewBag.keyword">
                                <label for="search-form">Tìm kiếm</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 col-xl-4 ms-md-auto text-md-end mt-5 mt-md-0">
                        <div class="form-select-wrapper">
                            <select class="form-select" id="select_type_search" asp-items="ViewBag.TypeProduct"></select>
                        </div>
                    </div>
                </div>
                <div class="grid grid-view projects-masonry shop mb-4">
                    <div class="row gx-md-8 gy-10 gy-md-13 isotope" id="div_main_data">
                        @*<div class="project item col-md-6 col-xl-4">
                        <figure class="rounded mb-6">
                        <img src="/assets/portal/img/photos/sh1.jpg" srcset="/assets/portal/img/photos/sh1@2x.jpg 2x" alt="" />
                        <a class="item-like" href="#" data-bs-toggle="white-tooltip" title="Add to wishlist"><i class="uil uil-heart"></i></a>
                        <a class="item-view" href="#" data-bs-toggle="white-tooltip" title="Quick view"><i class="uil uil-eye"></i></a>
                        <a href="#" class="item-cart"><i class="uil uil-shopping-bag"></i> Add to Cart</a>
                        <span class="avatar bg-pink text-white w-10 h-10 position-absolute text-uppercase fs-13" style="top: 1rem; left: 1rem;"><span>Sale!</span></span>
                        </figure>
                        <div class="post-header">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                        <div class="post-category text-ash mb-0">Shoes</div>
                        <span class="ratings five"></span>
                        </div>
                        <h2 class="post-title h3 fs-22"><a href="./shop-product.html" class="link-dark">Nike Air Sneakers</a></h2>
                        <p class="price"><del><span class="amount">$55.00</span></del> <ins><span class="amount">$45.00</span></ins></p>
                        </div>
                        </div>*@
                    </div>
                </div>
                <nav class="d-flex justify-content-center" aria-label="pagination">
                    <ul class="pagination" id="ul_main_pagination">
                        @*<li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="uil uil-arrow-left"></i></span>
                        </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="uil uil-arrow-right"></i></span>
                        </a>
                        </li>*@
                    </ul>
                </nav>
            </div>
            <aside class="col-lg-3 sidebar">
                <div class="widget mt-1">
                    @if (productCategoryMenu.Any())
                    {
                        <div class="accordion accordion-wrapper product_category_left_menu" id="accordionSimpleExample">
                            <div class="card plain accordion-item">
                                <div class="card-header" id="headingSimpleOne">
                                    <button class="accordion-button widget-title text-uppercase text-orange" data-bs-toggle="collapse" data-bs-target="#collapseSimpleOne" aria-expanded="true" aria-controls="collapseSimpleOne"> Danh mục sản phẩm <i class="uil uil-filter ms-1"></i></button>
                                </div>
                                <div id="collapseSimpleOne" class="accordion-collapse collapse show" aria-labelledby="headingSimpleOne" data-bs-parent="#accordionSimpleExample">
                                    <div>
                                        @foreach (var item in productCategoryMenu)
                                        {
                                            <div class="form-check ps-0 mb-1">
                                                <input class="form-check-input input_checkbox_product_category_search" type="checkbox" value="@item.id" id="input_checkbox_product_category_search_@item.id">
                                                <label class="form-check-label fw-bold" for="input_checkbox_product_category_search_@item.id">
                                                    @if (!string.IsNullOrEmpty(item.imageUrl))
                                                    {
                                                        <img src="@item.imageUrl" class="img_product_category_leftmenu" alt="@item.name" />
                                                    }
                                                    @item.name <span class="fs-sm text-muted ms-1">(@item.countProduct)</span>
                                                </label>
                                            </div>
                                            if (item.children.Count() > 0)
                                            {
                                                foreach (var chilren2 in item.children)
                                                {
                                                    <div class="form-check ps-0 mb-1 ms-6">
                                                        <input class="form-check-input input_checkbox_product_category_search" type="checkbox" value="@chilren2.id" id="input_checkbox_product_category_search_@chilren2.id">
                                                        <label class="form-check-label menu_level_2" for="input_checkbox_product_category_search_@chilren2.id">
                                                            @if (!string.IsNullOrEmpty(chilren2.imageUrl))
                                                            {
                                                                <img src="@chilren2.imageUrl" class="img_product_category_leftmenu" alt="@chilren2.name" />
                                                            }
                                                            @chilren2.name <span class="fs-sm text-muted ms-1">(@chilren2.countProduct)</span>
                                                        </label>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (productHot.Any())
                {
                    <div class="widget">
                        <h4 class="widget-title mb-3 text-uppercase">Sản phẩm <mark class="text-orange">nổi bật</mark></h4>
                        <ul class="image-list">
                            @foreach (var item in productHot)
                            {
                                <li>
                                    <figure class="rounded"><a href="/san-pham/@item.metaUrl"><img loading="lazy" class="image_product" src="@(string.IsNullOrEmpty(item.imageObj?.smallUrl) ? "/images/error-avatar.png" : item.imageObj?.smallUrl)" alt="@item.name"></a></figure>
                                    <div class="post-content">
                                        <h6 class="mb-2" data-toggle="tooltip" data-placement="top" title="@item.name"><a class="link-dark sp-line-2" href="/san-pham/@item.metaUrl">@item.name</a></h6>
                                        <ul class="post-meta">
                                            <li class="price">
                                                @if (item.discount > 0)
                                                {
                                                    <ins><span class="amount">@item.discount?.ToString("#,###", cul.NumberFormat)đ</span></ins>
                                                    <span class="small ms-1 text-muted"><del>@item.price?.ToString("#,###", cul.NumberFormat)đ</del></span>
                                                }
                                                else if (item.price > 0)
                                                {
                                                    <span>@item.price?.ToString("#,###", cul.NumberFormat)đ</span>
                                                }
                                                else
                                                {
                                                    @*<span>Liên hệ</span>*@
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                @if (banner.bottomObjs.Any())
                {
                    <div class="widget mt-10">
                        <div class="swiper-container dots-over" data-effect="" data-margin="5" data-autoplay="true" data-autoplaytime="6000" data-dots="true" data-nav="false" data-autoheight="true">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    @foreach (var item in banner.bottomObjs)
                                    {
                                        string alignText = "";
                                        string alignTextVideo = "";
                                        switch (item.align)
                                        {
                                            case "left":
                                                alignText = "justify-content-start";
                                                alignTextVideo = "text-start";
                                                break;
                                            case "center":
                                                alignText = "justify-content-center";
                                                alignTextVideo = "text-center";
                                                break;
                                            case "right":
                                                alignText = "justify-content-end";
                                                alignTextVideo = "text-end";
                                                break;
                                            default: break;
                                        }
                                        <div class="swiper-slide bg-overlay bg-overlay-100 rounded">
                                            <img src="@item.fileUrl" alt="@item.title" class="w-100" />
                                            @if (!string.IsNullOrEmpty(item.url))
                                            {
                                                switch (item.urlType)
                                                {
                                                    case EN_BannerUrlType.Link:
                                                        <a href="@item.url" target="@item.urlTarget" rel="noreferrer">
                                                            <div class="caption-wrapper p-2 @alignText">
                                                                <div class="caption bg-white rounded mt-auto animate__animated animate__slideInDown animate__delay-1s  flex-column">
                                                                    <p class="mb-0 px-2 text-dark">@item.title</p>
                                                                    <p class="mb-0 px-2 text-dark small">@item.description</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        break;
                                                    case EN_BannerUrlType.Youtube:
                                                        <div class="caption-wrapper p-2 flex-column">
                                                            <div class="caption rounded px-2 py-2 mt-auto animate__animated animate__slideInDown animate__delay-1s"><a href="@item.url" target="@item.urlTarget" rel="noreferrer" class="btn btn-circle btn-white btn-play ripple mx-auto mb-5" aria-label="Xem" data-gallery="banner-mid" @(item.urlTarget == "_self" ? "data-glightbox" : "")><i class="icn-caret-right"></i></a></div>
                                                            <div class="@alignTextVideo caption bg-white rounded mt-auto animate__animated animate__slideInDown animate__delay-1s flex-column">
                                                                <p class="mb-0 px-2 text-dark">@item.title</p>
                                                                <p class="mb-0 px-2 text-dark small">@item.description</p>
                                                            </div>
                                                        </div>
                                                        break;
                                                    default: break;
                                                }
                                            }
                                            else
                                            {
                                                <div class="caption-wrapper p-2 @alignText" @(string.IsNullOrEmpty(item.title) && string.IsNullOrEmpty(item.description) ? "hidden" : "")>
                                                    <div class="caption bg-white rounded px-2 py-2 mt-auto animate__animated animate__slideInDown animate__delay-1s  flex-column">
                                                        <p class="mb-0 px-2 text-dark">@item.title</p>
                                                        <p class="mb-0 px-2 text-dark small">@item.description</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </aside>
        </div>
    </div>
</section>

@*<section class="wrapper bg-gray">
    <div class="container py-12 py-md-14">
        <div class="row gx-lg-8 gx-xl-12 gy-8">
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row">
                    <div>
                        <img src="/assets/portal/img/icons/solid/shipment.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-navy me-4" alt="" />
                    </div>
                    <div>
                        <h4 class="mb-1">...</h4>
                        <p class="mb-0">...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row">
                    <div>
                        <img src="/assets/portal/img/icons/solid/push-cart.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-navy me-4" alt="" />
                    </div>
                    <div>
                        <h4 class="mb-1">...</h4>
                        <p class="mb-0">...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row">
                    <div>
                        <img src="/assets/portal/img/icons/solid/verify.svg" class="svg-inject icon-svg icon-svg-sm solid-mono text-navy me-4" alt="" />
                    </div>
                    <div>
                        <h4 class="mb-1">...</h4>
                        <p class="mb-0">...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@